# https://numpy.org
numpy>=1.22
# https://matplotlib.org
matplotlib>=3.5
# https://pandas.pydata.org
pandas>=1.3

# https://pydantic-docs.helpmanual.io
pydantic>=1.9

# https://github.com/python-excel/xlrd
xlrd>=2.0

# https://pyproj4.github.io/pyproj/stable/
pyproj>=3.3

# Automate tasks
invoke

# Check code style, errors, etc
pylint
flake8

# Test runners
pytest
tox
